name: Release Artifacts

on:
  push:
    tags:
      - '*'

jobs:
  artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Install OpenCL
        run: |
          sudo add-apt-repository ppa:intel-opencl/intel-opencl
          sudo apt-get update
          sudo apt-get install ocl-icd-opencl-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build release
        run: cargo build --release
      - name: Upload artifact
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/nano-work-server
          asset_name: nano-work-server
          tag: ${{ github.ref }}
          overwrite: true